# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.allure
.allure/
# Test reports
surefire-reports/
failsafe-reports/

# WebDriver
webdriver/
*.exe
*.dmg

# Screenshots
screenshots/
*.png
*.jpg

# IDE
.idea/
.project
.classpath
.c9/
*.launch
.settings/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log